{% extends 'base.html' %}
{% load djuno %}
{% block content %}
  <button_component text="Click Me" id="my-button"></button_component>
  <button_component text="Toggle" js="alpine">
    <template slot="header"><span>Header</span></template>
    <template slot="footer"><span>Footer</span></template>
  </button_component>
  <button_component text="With Icon" icon="{% icon_component name='star' %}">
  </button_component>
  <button_component text="Disabled" disabled="true"></button_component>
{% endblock %}
